# Ignore SQLite database file
db.sqlite3

# Ignore Django migrations
migrations/

# Ignore virtual environment folder (adjust name if it's different)
mynewenv/

# Ignore virtual environment folder (adjust name if it's different)
myvenv/

# Ignore Python cache files
__pycache__/
